:80
gzip
tls off

# Super basic logging
errors /var/log/caddy_errors.log
log    /var/log/caddy_log.log

root /www/
browse

jwt {
    path /
    allow role admin
    publickey /public_key.pem
}

${jwt_rules}
