:80
gzip
tls off

# Super basic logging
errors /var/log/caddy_errors.log
log    /var/log/caddy_log.log

root /www/model-review/2019/
browse

# Secure with webtoken
jwt {
    path /LSHTM-Jit
    allow LSHTM-Jit true
    publickey /public_key.pem
}

jwt {
    path /IC-Garske
    allow IC-Garske true
    publickey /public_key.pem
}

jwt {
    path /test-group
    allow test-group true
    publickey /public_key.pem
}
