:80
gzip
tls off

# Super basic logging
errors /var/log/caddy/caddy_errors.log
log    /var/log/caddy/caddy_log.log

root /www/
browse

jwt {
    path /
    allow access_level admin
    publickey /public_key.pem
}


jwt {
    path /model-documentation/2019/test-group
    allow test-group true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/Cambridge-Trotter
    allow Cambridge-Trotter true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/CDA-Razavi
    allow CDA-Razavi true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/JHU-Lessler
    allow JHU-Lessler true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/LSHTM-Clark
    allow LSHTM-Clark true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/LSHTM-Jit
    allow LSHTM-Jit true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/UND-Moore
    allow UND-Moore true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/UND-Perkins
    allow UND-Perkins true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/Emory-Lopman
    allow Emory-Lopman true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/Harvard-Sweet
    allow Harvard-Sweet true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/IC-Garske
    allow IC-Garske true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/IC-Hallett
    allow IC-Hallett true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/JHU-Tam
    allow JHU-Tam true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/KPW-Jackson
    allow KPW-Jackson true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/OUCRU-Clapham
    allow OUCRU-Clapham true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/PHE-Vynnycky
    allow PHE-Vynnycky true
    publickey /public_key.pem
}

jwt {
    path /model-documentation/2019/PSU-Ferrari
    allow PSU-Ferrari true
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/HepB
    allow HepB reviewer
    allow HepB member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/Hib
    allow Hib reviewer
    allow Hib member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/HPV
    allow HPV reviewer
    allow HPV member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/JE
    allow JE reviewer
    allow JE member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/Measles
    allow Measles reviewer
    allow Measles member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/MenA
    allow MenA reviewer
    allow MenA member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/PCV
    allow PCV reviewer
    allow PCV member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/Rota
    allow Rota reviewer
    allow Rota member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/Rubella
    allow Rubella reviewer
    allow Rubella member
    publickey /public_key.pem
}

jwt {
    path /estimate-comparison/201810/YF
    allow YF reviewer
    allow YF member
    publickey /public_key.pem
}

