:80
gzip
tls off

# Super basic logging
errors /var/log/caddy/caddy_errors.log
log    /var/log/caddy/caddy_log.log

root /www/
browse

jwt {
    path /
    allow access_level admin
    publickey /public_key.pem
}

${jwt_rules}
